{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <form action="{% url 'search_game' %}" method="POST">
            {% csrf_token %}
            <label>Search for Game: </label>
            <input type="textbox" name="search-term">
            <input type="submit" class="btn right" value="Search">
        </form>
    </div>
</div>

<div class="index-container">
    <div class="index-grid">
        {% for game in games_data %}
            <div class="index-cell">
                <a href="">
                    <div class="card-image index-img">
                        {% if game.cover_image_id == None %}
                            <img src="https://i.pinimg.com/736x/64/9d/37/649d37014bd486376f3f8552a1f049d8.jpg">
                        {% else %}
                            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover_image_id}}.png">
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}