{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Game List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/pixelHeart.gif' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header>
        <div class="header-img">
            <div class="header-content">
                <a href="{% url 'home' %}"><p>ʚ MY GAME LIST ɞ</p></a>
            </div>
            <img src="">
            <nav class="N/A transparent">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'all_games' %}">All Games</a></li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'games_create' %}">Add Game</a></li>
                        <li class="user-game-dropdown">
                            <a href="{% url 'index' %}">My Games<i class="material-icons right">arrow_drop_down</i></a>
                            <div class="user-game-dropdown-content">
                                <a href="{% url 'not_started' %}">Not Started</a>
                                <a href="{% url 'in_progress' %}">In Progress</a>
                                <a href="">Finished</a>
                            </div>
                        </li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
            </nav>
        </div>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2024 My Game List &nbsp;</div>
    </footer>
</body>
</html>