{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to My Game List</h1>
    <div class="home-splash-art">
        <img src="https://cdnb.artstation.com/p/assets/images/images/050/699/467/large/sora-kim-ocean-song-seraphine-prestige-edition-skin-splash-art.jpg?1655466039">
    </div>
    <br>

    <!-- {% for game in games_data %}
        <li>Name: {{ game.name }}</li>
        <li>Summary: {{ game.summary }}</li>
        <li>Storyline: {{ game.storyline }}</li>
        <li>Cover ID: {{game.cover}}</li>
        <li>Cover Image ID: {{ game.cover_image_id }}</li>
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover_image_id}}.png">
    {% endfor %} -->

{% endblock %}