{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s4 image-container">
                <img src="{{ game.cover }}">
            </div>
            <div class="col s8">
                <span class="card-title">{{ game.name }}</span>
                <p>Summary: {{ game.summary }}</p>
                <br>
                <p>Rating: {{ game.rating }}/5</p>
                <p>Status: {{ game.get_status_display }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}